b__*
messages.txt
*.cgpr
*.stderr
*.stdout
*.ali
*.ci
*-loc.xml
*.stderr
*.bexch
*.ci
*.map
*.o
*.su
*.d
project_name-main
*.pyc
*.cswi
_temp.txt
Makefile.conf
.#*
*ref_cahche.db
default.gpr
_test
_temp
